@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
 
  color: #414a4c;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 2.4vw;
    
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 3.2vw;
    
  }
  
  .triangleImages2 {
    height: 68px;
  }
}

.App{
  text-align: center;
  
}


.navbar {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 35px;
 background-image: linear-gradient(to left, #919487, #a1a295, #b2b1a3, #c3c0b2, #d4cfc1, #dcd5c7, #e5dacd, #ede0d4, #eeddd3, #efdbd2, #efd8d2, #efd6d2);
 border-bottom: 2px ridge green;
}

@media only screen and (max-width: 768px) {
  .navbar {
    /* display: flex; */
    flex-direction: column;
    
  }
  .navLinks {
    margin-bottom: 5px;
  }

}

.navbar h2 {
  color:purple;
  /* margin-bottom: ; */
}



.navLinks a{
  text-decoration: none;
  margin-left: 3vw;
  font-weight: bold;
}

.navLinks a:hover {
  color: purple;
}


.isTriangle{
 margin: 2px auto;
 text-align: center;
}

.boxInput {
  /* background-color: cadetblue; */
}
 .boxInput form{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

 .boxInput form input{
  padding: 5px;
  margin-bottom: 10px;
  max-width: 60%;
  border-radius: 7px;
}

.submitButton{
  padding: 10px 20px;
  margin: 10px 0px;
  color: #EBE3D6;
  font-size: 15px;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #919487, #a8a496, #c1b4a7, #d8c5bb, #efd6d2);
  
}

.submitButton:hover {
  background-image: linear-gradient(to left, #919487, #a8a496, #c1b4a7, #d8c5bb, #efd6d2);
  color: white;
}

.questions {
  margin: 40px 0px;
}

@media only screen and (max-width: 768px) {
  .questions {
    margin: 5vw 0px;
  }
}
  @media only screen and (max-width: 480px) {
    .questions {
      margin: 7vw 0px;
    }
  
  }

.questions p {
  margin-bottom: 5px;
}

h4 {
  color: greenyellow;
  font-size: 18px;
}
.footer {
  border-top: 2px ridge green;
  position: absolute; 
  bottom: 0px; 
  width: 100%; 
  height: 50px;
  padding: 10px 0px;
  background-image: linear-gradient(to right, #919487, #a1a295, #b2b1a3, #c3c0b2, #d4cfc1, #dcd5c7, #e5dacd, #ede0d4, #eeddd3, #efdbd2, #efd8d2, #efd6d2);
}

.footer div {
  margin-top:8px;
  font-weight: bolder;
}

.footer div a{
  text-decoration: none;
  margin: 0px 8px;
  color:  white;
  font-weight: bold;
}

.footer div a:hover {
  color: #483d8b;
}
